.myselfPadd{
    padding: 20px 0px;
}
.myselfSpanss{
    color: #FC5531;
    font-weight: bold;
}
a{
    color:orange;
}
.myselfSpan{
    color: orange;
    cursor: pointer;
}
.myselfSpan:hover{
    color: #00bcd4;
    font-weight: bold;
}
.myselfDiv{
    padding: 10px;
    font-size: 18px;
}
/*实现蓝绿色的*/
.box{
    margin: 50px;

    position:relative;
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background: #1A4657;
}
.box:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index:-1;

}
.box:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index:-1;
    filter:blur(40px);

}
.box:before,
.box:after{
    background: linear-gradient(235deg,#89ff00,#060c21,#00bcd4);
}
.content{
    padding:20px;
    height: calc(100% - 40px);
    box-sizing:border-box;
    color:#fff;
}
/*实现紫粉色的*/
.box2{
    margin: 50px;

    position:relative;
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background: #060c21;
}
.box2:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index:-1;

}
.box2:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index:-1;
    filter:blur(40px);

}
.box2:before,
.box2:after{
    background: linear-gradient(235deg,#e37bb2,#060c21,#a70dc6);
}
.content{
    padding:20px;
    box-sizing:border-box;
    color:#fff;
}












.contact_info {
    width: 100%
}

.contact_info form {
    width: 100%;
    overflow: hidden;
    padding: 5px 0
}

.contact_info form label {
    width: 33.33%;
    padding: 0 10px 0 0;
    height: 70px;
    float: left
}

.contact_info form label p {
    color: red;
    line-height: 2rem;
    padding: 0 12px
}

.contact_info form label:nth-child(3) {
    padding: 0
}

.contact_info form label:nth-child(4) {
    width: 100%;
    height: 140px;
    padding: 0
}

.contact_info form input[type="text"] {
    width: 100%;
    float: left;
    background: #292a38;
    color: whitesmoke;
}

.contact_info form textarea {
    width: 100%;
    height: 110px;
    background: #292a38;
    resize: none;
    color: whitesmoke
}

.contact_info form button {
    color: #fff;
    padding: 0.45em 1.4em;
    font-size: 1.4rem;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid purple;
    background: orange;
}

@media screen and (max-width: 1370px) {
    .con_wrap {
        width:80%;
        padding: 1rem 0
    }

    .tit_wrap+div {
        margin: 10px 0 0 0
    }

    .tit_wrap h2 {
        margin: 0
    }

    .myinfo table tr:last-child td p {
        padding: 0
    }

    .canvas_wrap {
        width: 50%;
        float: left;
        overflow: hidden
    }

    .text_wrap {
        width: 50%;
        float: left
    }

    .text_wrap p {
        display: inline-block;
        font-size: 1.8rem;
        line-height: 24px
    }

    .tit_wrap .scissors {
        top: 101px
    }

    .text_wrap p {
        padding: 4px 0
    }

    .canvas_con {
        margin: 5px 10px
    }
}

input,textarea,button {
    outline: none;
    padding: 12px;
    font-size: 1.4rem;
    border: 1px solid #e5e5e5;
    background: none;
}